
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#navbar .header{
  display: flex;
  justify-content: space-between;
  background: #0000004b;
}

#navbar .header h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 1rem;
}

#navbar .header button{
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2em;
  cursor: pointer;
}

#list {
  display: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgba(133, 33, 195, 0.333);
  backdrop-filter: blur(20px);
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  color: #fff;
  font-weight: bold;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.407);
  backdrop-filter: blur(20px);
  border-bottom: 2px solid #fff;
  color: #000;
}

a {
  padding: 0 1rem;
  color: inherit;
  text-decoration: none;
}


@media screen and (width <= 800px) {
  #navbar #list ul{
    display: block;
  }
}