/* body {
  background-color: #444;
  height: 100vh;
  overflow: hidden;
} */
/* img {
  width: 100%;
  margin-bottom: 1em;
}

.list {
columns: 300px;
} */

/* Glass Morphism */
/* .list {
  width: 400px;
  height: 400px;
  background-image: url("/images/image.png");
  background-repeat: no-repeat;
  object-fit: cover;
  margin: auto;
} */
/* 1 */
/* .glass {
  width: 300px;
  height: 300px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
} */

/* 2 */
/* .glass {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
} */

/* 3 */
/* .glass {
  width: 300px;
  height: 300px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  background-size: 30px 30px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
} */

/* hover transition */
/* .list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

img {
  width: 120px;
  height: 200px;
}

.list .item {
  transition: 0.5s;
  filter: brightness(0);
}

.list .item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}

.list .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}

.list .item:hover + * + * + * {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(10deg);
}

.list .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}

.list .item:has(+ * + * + *:hover) {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(-10deg);
}

*/

/* Ink */
/* body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.banner .content .title {
  font-family: "Hallowed Grounds";
  font-size: 6em;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images2/img2.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url("/images2/ink.gif");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
} */

/* Grid */
/* .grid {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(5, 100px);
  grid-template-areas:
    " item1   .      .    .   . "
    " item1    item2 item2   .      . "
    " item1   item3 item3    item3   . "
    " .       item3    item3     item3       . "
    " .       .      .       .       . ";
}

.item1 {
  grid-area: item1;
  background: #fc3;
}
.item2 {
  grid-area: item2;
  background: #cf3;
}
.item3 {
  grid-area: item3;
  background: #3cf;
} */

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 20px;
} */

.header {
  grid-area: header;
  background-color: aqua;
}
.feature1 {
  grid-area: feature1;
  background-color: blue;
}
.feature2 {
  grid-area: feature2;
  background-color: yellow;
}
.feature3 {
  grid-area: feature3;
  background-color: lime;
}
.feature4 {
  grid-area: feature4;
  background-color: red;
}
.feature5 {
  grid-area: feature5;
  background-color: orange;
}

main {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 250px 150px auto;
  grid-template-areas:
    "   header   header    header  "
    "   feature1 feature2  feature3  "
    "   feature4 feature4  feature4  "
    "   feature5 feature5 feature5  ";
}

@media screen and (max-width: 1023px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto 100px 150px;
    grid-template-areas:
      "   header   header  "
      "   feature5 feature5  "
      "   feature4 feature1 "
      "   feature2 feature3 ";
  }
}
@media screen and (max-width: 767px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 100px 100px 150px 100px 150px;
    grid-template-areas:
      "   header     "
      "   feature5   "
      "   feature4  "
      "   feature3  "
      "   feature2  "
      "   feature1  ";
  }
}
