:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: light-dark(#aaa, #000);
  gap: 10px;
}
div {
  background: light-dark(#eee, #333);
  color: light-dark(#000, #fff);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid > div {
  background-size: cover;
  background-image: url("/images/image6.png");
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    hsla(66, 76%, 55%, 0.5),
    transparent 200px
  );
}

/* remove image bg */
/* 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 260px;
  height: 300px;
  margin: auto;
}

.item {
  background-color: #faf8f8;
  border: 5px solid currentColor;
} */

/* .item img { */
/* mix-blend-mode:darken; */
/* mix-blend-mode:color-dodge; */
/* mix-blend-mode:color-burn; */
/* mix-blend-mode:difference; */
/* mix-blend-mode:exclusion; */
/* mix-blend-mode:hard-light; */
/* mix-blend-mode:hue; */
/* mix-blend-mode:lighten; */
/* mix-blend-mode:luminosity; */
/* mix-blend-mode:multiply; */
/* mix-blend-mode:soft-light; */
/* mix-blend-mode:screen; */
/* mix-blend-mode:saturation; */
/* mix-blend-mode:overlay; */
/* mix-blend-mode:normal; */
/* } */
