/* SVG */
/* body {
  margin: 0;
  font-size: 5em;
}
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images2/img6.png");
  background-size: cover;
  background-position: center;
  animation: bgZoomIn 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images2/img5.png");
  background-size: cover;
  background-position: top;
  transform: scale(2);
  animation: bgZoomOut 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}

@keyframes bgZoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bgZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.7;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 4s ease-in-out 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
} */

/* Text Effect */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 900;
}

.effect,
.text {
  position: absolute;
  top: 20%;
  left: 30%;
  padding-top: 10px;
}

.effect {
  width: 65px;
  height: 65px;
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  animation: ef 3s ease-in-out infinite alternate;
}

.content {
  color: #fff;
  position: absolute;
  left: 0;
  width: max-content;
  animation: ct 3s ease-in-out infinite alternate;
}

@keyframes ef {
  from {
    transform: translate(-20px, 0);
  }
  to {
    transform: translate(95px, 0);
  }
}

@keyframes ct {
  from {
    transform: translate(20px, 0);
  }
  to {
    transform: translate(-95px, 0);
  }
} */

/*Slider */
/* .slider {
  width: 100%;
  border: 1px solid red;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1))!important;
  transition: filter 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: var(--height);
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
} */

/* Slider2 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.slider .list {
  width: 100%;
  min-width: calc(250px * var(--quantity));
  display: flex;
  position: relative;
}

.slider .list .item {
  width: 250px;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc(var(--time) / var(--quantity) * (var(--position) - 1) - 9s);
}

@keyframes autoRun {
  to {
    left: -250px;
  }
}
