/* 123 */
/* * {
  margin: 0;
  padding: 0;
}
body {
  overflow: auto;
}

.box > img {
  object-fit: cover;
  width: 500px;
}
.container {
  margin: auto;
  margin: 100px auto 0;
  position: relative;
  width: 500px;
  height: 500px;
}

.side {
  width: calc(500px / 2);
  height: calc(500px / 10);
  background: #000000a2;
  border-radius: 8px;
  position: absolute;
  padding: 0.3rem;
}

.side2 {
  right: 0;
  bottom: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: #000000a2; */
/* clip-path: polygon(
    55% 15%,
    0% 15%,
    0% 100%,
    45% 100%,
    45% 85%,
    100% 85%,
    100% 0%,
    55% 0%
  ); */
/* clip-path: path(
    "M 10,70 L 260,70 A 10,10 0,0,0 270,60 L 270,10 A 10,10 0,0,1 280,0 L 490,0 A 10,10 0,0,1 500,10 L 500,420 A 10,10 0,0,1 490,430 L 240,430 A 10,10 0,0,0 230,440 L 230,490 A 10,10 0,0,1 220,500 L 10,500 A 10,10 0,0,1 0,490 L 0,80 A 10,10 0,0,1 10,70 Z"
  );
}

.rotate {
  rotate: 90deg;
} */

/* 3D shapes */

:root {
  /* Dimensions */
  /* cube */
  --cube-size: 150px;

  /* sphere */
  --circle-size: 200px;
  --circle-inner-size: calc(var(--circle-size) / 2);

  /* tyre */
  --tyre-width: 100px;
  --tyre-radius: 200px;
  --tyre-border-radius: 30px;
  --blur: 30px;
  --tyre-rim-radius: 150px;

  /* Transforms */
  --perspective: 6000px;
  --translateZ-half: calc(var(--cube-size) / 2);
  --translateZ-full: var(--cube-size);
  --circle-translateZ: calc(var(--circle-size) / 2 - 10px);
  --rotateX: 90deg;
  --rotateY: 90deg;
  --animation-rotateX: -14deg;

  /* Colors */
  --bg-color: #151a28;
  --gradient-start: blue;
  --gradient-mid: purple;
  --box-shadow-color: #3cf;

  /* Box shadow */
  --glow: 0 0 2px 2px var(--box-shadow-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    var(--gradient-start),
    var(--gradient-mid),
    var(--gradient-mid),
    var(--gradient-start)
  );
  background-blend-mode: multiply;
  min-block-size: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  user-select: none;
}

.cube {
  position: relative;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  animation: autoRun 10s linear infinite;
}

.side {
  width: var(--cube-size);
  height: var(--cube-size);
  position: absolute;
  background: transparent;
  transform-style: preserve-3d;
  box-shadow: var(--glow);
}

.side::after,
.side::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  box-shadow: var(--glow);
}

.side1 {
  transform: perspective(var(--perspective)) translateZ(var(--translateZ-half));
}

.side1::after {
  transform: translateZ(calc(-1 * var(--translateZ-full)));
}

.side2 {
  transform: perspective(var(--perspective)) rotateY(var(--rotateY))
    translateZ(var(--translateZ-half));
}

.side2::after {
  transform: translateZ(calc(-1 * var(--translateZ-full)));
}

.side3 {
  transform: perspective(var(--perspective)) rotateX(var(--rotateX))
    translateZ(calc(-1 * var(--translateZ-half)));
}

.side3::after {
  transform: translateZ(var(--translateZ-full));
}

/* Sphere */
.sphere {
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  animation: autoRun 10s linear infinite reverse;
}

.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100vh;
  position: absolute;
  background: transparent;
  transform-style: preserve-3d;
  box-shadow: var(--glow);
}

.circle::after,
.circle::before {
  content: "";
  width: var(--circle-inner-size);
  height: var(--circle-inner-size);
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 100vh;
  box-shadow: var(--glow);
}

.circle1::after {
  transform: translateX(50%) translateY(50%)
    translateZ(var(--circle-translateZ));
}
.circle1::before {
  transform: translateX(50%) translateY(50%)
    translateZ(calc(-1 * var(--circle-translateZ)));
}

.circle2 {
  transform: rotateY(var(--rotateY));
}
.circle2::after {
  transform: translateX(50%) translateY(50%)
    translateZ(var(--circle-translateZ));
}
.circle2::before {
  transform: translateX(50%) translateY(50%)
    translateZ(calc(-1 * var(--circle-translateZ)));
}

.circle3 {
  transform: rotateX(var(--rotateX));
}
.circle3::after {
  transform: translateX(50%) translateY(50%)
    translateZ(var(--circle-translateZ));
}
.circle3::before {
  transform: translateX(50%) translateY(50%)
    translateZ(calc(-1 * var(--circle-translateZ)));
}

@keyframes autoRun {
  from {
    transform: perspective(6000px) rotateX(var(--animation-rotateX))
      rotateY(0deg) rotateZ(0);
  }
  to {
    transform: perspective(6000px) rotateX(var(--animation-rotateX))
      rotateY(360deg) rotateZ(360deg);
  }
}

/* Wheel */
.wheel {
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective)) rotateX(10deg) rotateY(10deg);
  animation: rotateTyreY 10s linear infinite reverse;
}

.tyre {
  width: var(--tyre-width);
  height: var(--tyre-radius);
  border-radius: var(--tyre-border-radius);
  position: absolute;
  background: transparent;
  transform-style: preserve-3d;
  box-shadow: var(--glow);
}

.tyre::after,
.tyre::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  backdrop-filter: blur(var(--blur));

  border-radius: inherit;
  box-shadow: var(--glow);
}

.tyre1 {
  width: var(--tyre-rim-radius);
  height: var(--tyre-rim-radius);
  border-radius: 100vh;
  transform: rotateY(var(--rotateY));
}

.tyre1::after {
  transform: translateZ(45px);
}
.tyre1::before {
  transform: translateZ(-45px);
}

.tyre2 {
  width: var(--tyre-radius);
  border-radius: 100vh;
  transform: rotateY(var(--rotateY));
}
.tyre2::after {
  transform: translateZ(calc(var(--tyre-width) / 2 - 10px));
}
.tyre2::before {
  transform: translateZ(calc((var(--tyre-width) / 2 - 10px) * -1));
}

.tyre3 {
  animation: rotateTyreX 1s linear infinite reverse;
}
.tyre3::after {
  transform: rotateX(60deg);
}
.tyre3::before {
  transform: rotateX(-60deg);
}

@keyframes rotateTyreY {
  from {
    transform: perspective(var(--perspective));
  }
  to {
    transform: perspective(var(--perspective)) rotateY(360deg);
  }
}

@keyframes rotateTyreX {
  from {
    transform: perspective(var(--perspective));
  }
  to {
    transform: perspective(var(--perspective)) rotateX(360deg);
  }
}
:root {
  /* Bike Sizes */
  --bike-width: 100px;
  --bike-height: 50px;
  --bike-depth: 80px;
  --bike-part-offsetY: 25px;

  /* Back Part */
  --back-after-height: 80px;
  --back-before-height: 10px;
  --back-before-width: 150px;
  --back-before-offsetX: -25px;
  --back-before-offsetY: 180px;
  --back-before-offsetZ: -180px;

  /* Front Part */
  --front-after-height: 80px;
  --front-before-height: 60px;
  --front-before-offsetY: 85px;
  --front-before-offsetZ: -87px;

  /* Top Part */
  --top-width: 100px;
  --top-height: 250px;
  --top-offsetZ: 150px;
  --top-offsetY: -23px;
  --top-after-height: 120px;
  --top-after-offsetZ: 43px;
  --top-after-offsetY: -105px;
  --top-before-height: 20px;
  --top-before-offsetZ: 115px;
  --top-before-offsetY: -70px;

  /* Bottom Part */
  --bottom-width: 100px;
  --bottom-height: 400px;

  /* Bike Colors */
  --bike-tyre-bg: #0b1432;

  /* Bike Animation */
  --bike-rotate-duration: 10s;
}

.bike {
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  animation: rotateBike var(--bike-rotate-duration) linear infinite reverse;
}

.container:hover {
  animation-play-state: paused;
}

.part {
  position: absolute;
  background: var(--bg-color);
  transform-style: preserve-3d;
  box-shadow: var(--glow);
}

.part::after,
.part::before {
  content: "";
  position: absolute;
  background: var(--bg-color);
  box-shadow: var(--glow);
}

.back {
  width: var(--bike-width);
  height: var(--bike-height);
  transform-style: preserve-3d;
  transform: perspective(var(--perspective)) rotateX(90deg)
    translateZ(calc(-1 * var(--bike-depth)))
    translateY(var(--bike-part-offsetY));
}

.back::after {
  width: var(--bike-width);
  height: var(--back-after-height);
  transform: perspective(var(--perspective)) rotateX(-50deg) translateZ(10px)
    translateY(48px);
}

.back::before {
  width: var(--back-before-width);
  height: var(--back-before-height);
  background: linear-gradient(
    to left,
    transparent 0%,
    transparent 30%,
    var(--box-shadow-color) 30%,
    var(--box-shadow-color) 31%,
    var(--bg-color) 31%,
    var(--bg-color) 70%,
    var(--box-shadow-color) 70%,
    var(--box-shadow-color) 71%,
    transparent 71%
  );
  transform: perspective(var(--perspective)) rotateX(80deg)
    translateX(var(--back-before-offsetX))
    translateY(var(--back-before-offsetY))
    translateZ(var(--back-before-offsetZ));
}

.front {
  width: var(--bike-width);
  height: var(--bike-height);
  transform-style: preserve-3d;
  transform: perspective(var(--perspective)) rotateX(90deg)
    translateZ(var(--bike-depth)) translateY(var(--bike-part-offsetY));
}

.front::after {
  width: var(--bike-width);
  height: var(--front-after-height);
  transform: perspective(var(--perspective)) rotateX(40deg) translateZ(-8px)
    translateY(50px);
}

.front::before {
  width: var(--bike-width);
  height: var(--front-before-height);
  transform: rotateX(90deg) translateY(var(--front-before-offsetY))
    translateZ(var(--front-before-offsetZ));
}

.bottom {
  width: var(--bottom-width);
  height: var(--bottom-height);
  position: relative;
  transform-style: preserve-3d;
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 30%,
    var(--box-shadow-color) 30%,
    var(--box-shadow-color) 31%,
    var(--bg-color) 31%,
    var(--bg-color) 70%,
    var(--box-shadow-color) 70%,
    var(--box-shadow-color) 71%,
    transparent 71%
  );
  box-shadow: none;
}

.bottom::after,
.bottom::before {
  width: 200px;
  height: var(--bottom-height);
  clip-path: polygon(
    28% -1%,
    40% -1%,
    40% 15%,
    75% 30%,
    101% 30%,
    101% 70%,
    70% 71%,
    45% 85%,
    0% 27%
  );
}

.bottom::after {
  transform: translateZ(100px) rotateY(90deg);
}
.bottom::before {
  transform: translateZ(100px) translateX(-100px) rotateY(90deg);
}

.top {
  width: var(--top-width);
  height: var(--top-height);
  transform-style: preserve-3d;
  transform: perspective(var(--perspective)) rotateX(-20deg)
    translateZ(var(--top-offsetZ)) translateY(var(--top-offsetY));
}

.top::after {
  width: var(--top-width);
  height: var(--top-after-height);
  inset: 0;
  transform: perspective(var(--perspective)) rotateX(45deg)
    translateZ(var(--top-after-offsetZ)) translateY(var(--top-after-offsetY));
}

.top::before {
  width: var(--top-width);
  height: var(--top-before-height);
  background: var(--bg-color);
  transform: perspective(var(--perspective)) rotateX(105deg)
    translateZ(var(--top-before-offsetZ)) translateY(var(--top-before-offsetY));
}

.bikeWheel {
  animation: none;
  transform: rotateX(10deg) rotateY(180deg);
}

.bikeWheel .tyre,
.bikeWheel .tyre::before,
.bikeWheel .tyre::after {
  background: var(--bike-tyre-bg);
}

@keyframes rotateBike {
  from {
    transform: perspective(var(--perspective)) rotateX(80deg) rotateZ(90deg);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(80deg) rotateZ(90deg)
      rotateZ(360deg);
  }
}

@media screen and (width <= 800px) {
  body {
    background: #000;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 250vh;
  }

}
