* {
  margin: 0;
  padding: 0;
}
body {
  overflow: auto;
}

.box > img {
  object-fit: cover;
  width: 500px;
}
.container {
  margin: auto;
  margin: 100px auto 0;
  position: relative;
  width: 500px;
  height: 500px;
}

.side {
  width: calc(500px / 2);
  height: calc(500px / 10);
  background: #000000a2;
  border-radius: 8px;
  position: absolute;
  padding: 0.3rem;
}

.side2 {
  right: 0;
  bottom: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: #000000a2;
  /* clip-path: polygon(
    55% 15%,
    0% 15%,
    0% 100%,
    45% 100%,
    45% 85%,
    100% 85%,
    100% 0%,
    55% 0%
  ); */
  clip-path: path(
    "M 10,70 L 260,70 A 10,10 0,0,0 270,60 L 270,10 A 10,10 0,0,1 280,0 L 490,0 A 10,10 0,0,1 500,10 L 500,420 A 10,10 0,0,1 490,430 L 240,430 A 10,10 0,0,0 230,440 L 230,490 A 10,10 0,0,1 220,500 L 10,500 A 10,10 0,0,1 0,490 L 0,80 A 10,10 0,0,1 10,70 Z"
  );
}

.rotate {
  rotate: 90deg;
}
